     <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
      </button>
      <span class="ShopName">Coffee House</span>
      <span class="example-spacer"></span>
        <button mat-flat-button  class="Menu" routerLink="/sold" >Sold</button>
        <button mat-flat-button  class="Menu" routerLink="/home" >Home</button>  
        <button mat-flat-button  class="Menu" routerLink="/menu">Menu</button> 
        <button mat-flat-button  class="Menu" routerLink="/about">About</button> 
        <button mat-flat-button  class="Menu" routerLink="/contact" id="MarginRight" >Contact</button>
    </mat-toolbar>
  
<hr/>