.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will make the container take up the full height of the viewport */
     
}

.cardItems {
    background-color: rgba(0, 0, 0, 0.5);
   // min-width: 300px;
   // min-height: 300px; /* Make the card background transparent */
    padding: 20px;
    margin-bottom: 500px;
}

.card-content {
    color: rgb(153, 107, 8);; /* Set text color to white for better visibility */
    font-size: 40px;
}
