<div>
    
        <button mat-raised-button style="background-color: red;"(click)="deleteAllItems()" >Delete All Sold items from Database</button>
   
        <h1 style="text-align: center; color: yellow; font-size: 40px; padding-top: 30px;">Sold items</h1>

<div class="center-container">
    
    <mat-card class="cardItems">
        <div class="card-content"><h1>
            Pizza:{{pizza}}<br/>
            Burger: {{burger}}<br/>
            Butter Nan:{{naan}}<br/>
            Gobi Manchuri: {{gobi}}<br/>
            Expresso:{{expresso}}<br/>
            Black Coffee: {{blackCoffee}}<br/></h1>
        </div>
    </mat-card>
</div>


</div>