<div class="contact-coffee-shop">
    <h1 style="color: yellow; margin-top: 100px;">Contact Us</h1>
    <p style="color: yellow;">If you have any questions or inquiries, feel free to reach out to us through the following channels:</p>
    
    <div class="contact-info">
      <h3>Location:</h3>
      <p>1234 Coffee Street, Cityville, State, ZIP</p>
    </div>
    
    <div class="contact-info">
      <h3>Phone:</h3>
      <p>(123) 456-7890</p>
    </div>
    
    <div class="contact-info">
      <h3>Email:</h3>
      <p>info@coffeeshop.com</p>
    </div>
    
    <div class="contact-info">
      <h3>Social Media:</h3>
      <p>Follow us on <a href="https://www.facebook.com/coffeeshop">Facebook</a>, <a href="https://www.twitter.com/coffeeshop">Twitter</a>, and <a href="https://www.instagram.com/coffeeshop">Instagram</a> for updates and promotions!</p>
    </div>
  </div>
  