<div>
   
    <div class="parent">
        <div class="child">

            <mat-card class="example-card">
                <mat-card-title-group>
                  <mat-card-title>Expresso</mat-card-title>
                  <mat-card-subtitle>large/Medium/Small</mat-card-subtitle>
                  <img mat-card-xl-image src="https://static.vecteezy.com/system/resources/thumbnails/025/282/026/small_2x/stock-of-mix-a-cup-coffee-latte-more-motive-top-view-foodgraphy-generative-ai-photo.jpg" alt="Photo of a Shiba Inu" >
                </mat-card-title-group>
                <mat-card-content>
                    <p>
                        Strong, concentrated coffee brewed by forcing hot water through finely-ground coffee beans.
                      </p>

                      <button style="margin-left: 30px;" mat-raised-button  (click)="add()">Add to cart</button>
  
                </mat-card-content>
              </mat-card>
</div>



<div class="child">
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Pizza</mat-card-title>
          <mat-card-subtitle>large/Medium/Small</mat-card-subtitle>
          <img mat-card-xl-image src="https://img.freepik.com/free-photo/freshly-italian-pizza-with-mozzarella-cheese-slice-generative-ai_188544-12347.jpg" >
        </mat-card-title-group>
        <mat-card-content>
            <p>
                Classic Italian dish with a thin crust topped with sauce, cheese, and various toppings.
              </p>
              <button style="margin-left: 30px;" mat-raised-button  (click)="add()">Add to cart</button>
  
        </mat-card-content>
      </mat-card>
</div>

<div class="child">
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Burger</mat-card-title>
          <mat-card-subtitle>large/Medium/Small</mat-card-subtitle>
          <img mat-card-xl-image src="https://img.freepik.com/free-photo/grilled-gourmet-burger-with-cheese-tomato-onion-french-fries-generated-by-artificial-intelligence_25030-63181.jpg" >
        </mat-card-title-group>
        <mat-card-content>
            <p>
                Sandwich with a cooked meat patty between two buns, served with toppings and condiments.
              </p>
              <button style="margin-left: 30px;" mat-raised-button  (click)="add()">Add to cart</button>
  
        </mat-card-content>
      </mat-card>
</div>
    </div>

    <div class="parent">  
<div class="child">
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Black Coffee</mat-card-title>
          <mat-card-subtitle>Extra large</mat-card-subtitle>
          <img mat-card-xl-image src="https://img.freepik.com/free-photo/close-up-view-brown-coffee-seeds-with-coffee-dark_179666-32787.jpg" >
        </mat-card-title-group>
        <mat-card-content>
            <p>
                Simple, brewed coffee without any additives, known for its bold flavor.
              </p>
              <button style="margin-left: 30px;" mat-raised-button  (click)="add()">Add to cart</button>
  
        </mat-card-content>
      </mat-card>
</div>


<div class="child">
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Butter Naan</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          <img mat-card-xl-image src="https://incredible.kitchen/wp-content/uploads/2018/11/img_0444.jpg" >
        </mat-card-title-group>
        <mat-card-content>
            <p>
                Soft, Indian flatbread made with refined flour, yeast, and brushed with butter.
              </p>
              <button style="margin-left: 30px;" mat-raised-button  (click)="add()">Add to cart</button>
  
        </mat-card-content>
      </mat-card>
</div>


<div class="child">
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Gobi Manchuri</mat-card-title>
          <mat-card-subtitle>Extra large</mat-card-subtitle>
          <img mat-card-xl-image src="https://www.palatesdesire.com/wp-content/uploads/2022/09/dry-gobi-manchurian-recipe@palates-desire.jpg" >
        </mat-card-title-group>
        <mat-card-content>
            <p>
                Crispy cauliflower florets tossed in a flavorful Indo-Chinese sauce.
              </p>
              <button style="margin-left: 30px;" mat-raised-button  (click)="add()">Add to cart</button>
  
        </mat-card-content>
      </mat-card>
</div>
    </div>
  </div>
